section.top-nav {
    font-family: rgb(255, 255, 255);
    font-size: 15 px;
    background: rgb(47, 182, 216);
    color: white;
    /* position fixed*/
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

section.top-nav ul li a {
    background: white;
    padding: 5px 10px;
    text-decoration: none;
    color: brown;
    font-size: 12px;
    border-radius: 25px;
}

section.top-nav ul li a:hover {
    background: brown;
    color: white;
}

body {
    padding-top: 40px;
}